<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    
</head>
<!-- <style>
    img{
        height:100px;
        width:100px;
    }
</style> -->
<body>
    <h2>Prepare aptitude for  @<%= data.name %></h2>
    
    <% for(let question of data.questions){ %>
        <p> Que : <%= question.Que %> </p>
        
        <ol type="a">
            <li><%= question.option1 %> </li>
            <li><%= question.option2 %> </li>
            <li><%= question.option3 %></li>
            <li><%= question.option4 %></li>
        </ol>

   <% } %>

     
</body>
</html>